* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif; }

html {
  font-size: 20px; }

body {
  font-size: 1rem;
  background-color: #f1cbff; }

header {
  grid-area: header;
  background-color: #c9c9ff;
  height: 50vh;
  padding: 20vh;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1508254919937-d4a498e3366c?auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.wrapper {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header header header" "main main sidebar" "footer footer footer"; }

@media (min-width: 400px) {
  body {
    background-color: #ffbdbd;
    transition: all 1s ease; }
  .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "sidebar" "main" "footer"; } }

@media (max-width: 400px) {
  .sidebar li {
    padding: 10px;
    display: inline; } }

@media (min-width: 680px) {
  body {
    transition: all 1s ease; }
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "main sidebar" "footer footer"; } }

@media (min-width: 800px) {
  body {
    background-color: #f1cbff;
    transition: all 1s ease; }
  .wrapper {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header" "main sidebar" "footer footer"; } }

@media (min-width: 1200px) {
  body {
    background-color: #c9c9ff;
    transition: all 1s ease; }
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header header sidebar" "main main sidebar" "footer footer footer"; } }

main {
  grid-area: main;
  background-color: #f1cbff; }

.sidebar {
  grid-area: sidebar;
  background-color: #e1f7d5; }
  .sidebar ul li {
    display: block; }

footer {
  background-color: #FFF;
  grid-area: footer;
  font-size: .5rem; }
