*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style-type: none;
}

html{
  font-size: 20px;
}

body {
  font-size: 1rem;
  background-color: #eaeaea;
}
header{
  grid-area: header;
  background-color: #eaeaea;
  width: 100%;
  height: 90vh;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1505843490538-5133c6c7d0e1?auto=format&fit=crop&w=1950&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 

}
header span{
    line-height: 90vh;
}
a{
  text-decoration: none;
  color: #FFF;
  padding: 5px;
}
a:hover{
  background-color: #6163d2;
}

.wrapper{
  display: grid;
  width: 100%;
  margin: 0;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main sidebar"
    "footer footer footer";
}
main{
  grid-area: main;
  height: 100vh;
  padding: 20vh;
}

.accent--color{
  background-color: #6163d2
}
.accent--text{
  color: #6163d2
}

.carousel{
  width: 50vw;
  height: 100vw;
  background-image: url("https://images.unsplash.com/photo-1467043153537-a4fba2cd39ef?auto=format&fit=crop&w=1861&q=80");
  background-position: bottom;
  background-size: cover;
  font-size: 1.2rem;
  text-align: center;
  width: 50vw;
  height: 100vh;
  line-height: 50vh;
  transition: all 1s ease;
  .motto{
    font-weight: 700;
    font-size: 5vh;
    line-height: 100vh;
    span{
      font-weight: 500;
    }
  }
}
.carousel:hover{
  filter: hue-rotate(210deg)
}
.motto:hover{
  opacity: 1;
  background-blend-mode: multiply;
  transition: all 1s ease;
}

nav{
  grid-area: nav;
  background-color: #2e1e1f;
  color: #FFF;
  display: flex;
  padding: 5px;
  justify-content: space-between;
  align-content: space-between;
  ul{
    align-self: flex-end;
    li{
      padding: 2px 10px;
      list-style-type: none;
      display: inline;
    }
  }
}


main{
  grid-area: main;
  text-orientation: sideways;
}


@media (min-width: 400px){
  .sidebar li{
    padding: 10px;
    display: inline;
}
}

@media (max-width: 680px) {
  body{
    transition: all 1s ease;
  }
  .wrapper{
  grid-template-areas: 
  "nav nav nav"
  "header header header"
  "main sidebar sidebar"
  "footer footer footer";
}

}
.buy{
  width: 20vw;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  background-color: #6163d2;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}
.buy:hover{
  background: linear-gradient(#ff6565, #f17676);
  transition: all .5s ease;
  cursor: pointer;
  box-shadow: 0 0 50px #f17676
}

.price{
  font-weight: 700;
  font-size: 3rem;
}

@media (max-width: 1000px) {
  body {
    background-color: #f1cbff;
    transition: all 1s ease
  }
 
}

@keyframes jump{
  0% {transform: translateY(0px)}
  33%{transform: translateY(-12px)}
  66%{transform: translateY(8px)}
  100%{transform: translateY(0px)}
} 

@media (max-width: 1200px) {
  body {
    background-color: 	#c9c9ff;
    transition: all 1s ease
  }

}
.form{
  input{
    width: 250px;
    height: 40px;
    padding: 4px;
  }
  input:focus{
    border: 2px solid #ff6565;
    background-color: #EEE; 
  } 
  input[type=submit]{
    background-color: #6163d2;
    border: none;
  }
  input[type=submit]:hover{
    background-color: #ff6565;
    box-shadow: 0 0 10px #ff6565
  }

}



.hidden{
  display: none;
}
.down,.up{
  width: 40px;
  height: 40px;
  color: #FFF;
  border-radius: 50%;
  position: fixed;
  margin-left: 48vw;
  font-size: 0.7rem;
  padding: 10px;
  text-align: center;
  transition: all 1s ease;
  animation: jump 4s infinite;
}
.down{
  bottom: 10px;
}
.up{
  bottom: 10px;
  display:none;
}
.down:hover, .up:hover{
  background-color: #ff6565
}

footer{
  display: flex;
  justify-content: space-between;
  background-color: #2e1e1f;
  color: #FFF;
  grid-area: footer;
  font-size: .5rem;
  padding: 2px;
  li{
    display: inline;
    padding: 0 4px;
  }
}